@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font-main {
  @apply text-[#0F172A];
}

.shadow {
  @apply shadow-[2px_3px_3px_2px_rgba(179,229,252,0.5)];
}

.shadow_toggle {
  @apply shadow-[0.5px_1px_0.5px_0.5px_rgba(179,229,252,0.5)];
}

.shadow-sidebar {
  @apply shadow-[1px_1px_2px_1px_rgba(0,0,70,0.5)];
}
‡πê .shadow-input {
  @apply shadow-[0.5px_0.5px_1px_0.5px_rgba(179,229,252,0.5)];
}

.btn-logout {
  @apply hover:bg-[#cdebff]  hover:text-[#0F172A] font-semibold  w-full rounded-md border border-[#009FE3] 
   transform transition-transform duration-300 ease-in-out hover:scale-105;
}

.btn {
  @apply hover:bg-[#cdebff]  hover:text-[#0F172A] font-semibold  w-full rounded-md border border-[#009FE3] px-2 py-1
   transform transition-transform duration-300 ease-in-out hover:scale-105;
}

.btn-main {
  @apply bg-[#0F172A]/80 hover:bg-[#0F172A]  text-white font-bold text-xl rounded-[14px] px-4 py-3
  transform transition-transform duration-300 ease-in-out hover:scale-105;
}

.transform {
  @apply transform transition-transform duration-300 ease-in-out hover:scale-105;
}

.focus-input {
  @apply w-full text-gray-500 border border-gray-300 px-3 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500;
}

@layer utilities {
  .swal2-container {
    z-index: 999999 !important;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-content {
  background-color: white;
  padding: 24px;
  border-radius: 8px;
  width: 500px;
  max-width: 90%;
  max-height: 90vh;
  overflow: auto;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}
